@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.console-error-source[href^='chrome://custombuttons/content/button.js']{
	-moz-binding: url(chrome://custombuttons/content/custombuttonsConsoleBindings.xml#console-error-source);
}

richlistitem[href^='chrome://custombuttons/content/button.js']{
	-moz-binding: url(chrome://custombuttons/content/custombuttonsConsoleBindings.xml#console2-error-source);
}

#CBConsoleBox
{
    -moz-binding: url(chrome://custombuttons/content/cbeditor.xml#cb-error-console);
}