@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.console-error-source[href^='chrome://custombuttons/content/button.js']{
	-moz-binding: url(chrome://custombuttons/content/editor/custombuttonsConsoleBindings.xml#console-error-source);
}

richlistitem[href^='chrome://custombuttons/content/button.js']{
	-moz-binding: url(chrome://custombuttons/content/editor/custombuttonsConsoleBindings.xml#console2-error-source);
}

#CBConsoleBox
{
    -moz-binding: url(chrome://custombuttons/content/editor/console.xml#cb-error-console);
}

#Console\:modeAll {
  -moz-image-region: rect(0px 24px 24px 0px);
}

#Console\:modeAll:hover,
#Console\:modeAll[checked="true"] {
  -moz-image-region: rect(24px 24px 48px 0px);
}

#Console\:modeErrors {
  -moz-image-region: rect(0px 96px 24px 72px);
}

#Console\:modeErrors:hover,
#Console\:modeErrors[checked="true"] {
  -moz-image-region: rect(24px 96px 48px 72px);
}

#Console\:modeWarnings {
  -moz-image-region: rect(0px 72px 24px 48px);
}

#Console\:modeWarnings:hover,
#Console\:modeWarnings[checked="true"] {
  -moz-image-region: rect(24px 72px 48px 48px);
}

#Console\:modeMessages {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#Console\:modeMessages:hover,
#Console\:modeMessages[checked="true"] {
  -moz-image-region: rect(24px 48px 48px 24px);
}

#Console\:clear {
  -moz-image-region: rect(0px 120px 24px 96px);
}

#Console\:clear:hover,
#Console\:clear[checked="true"] {
  -moz-image-region: rect(24px 120px 48px 96px);
}

.console-rows {
  -moz-user-focus: normal;
}

.console-row[type="error"],
.console-row[type="warning"] {
  -moz-binding: url("chrome://global/content/consoleBindings.xml#error");
}

.console-row[type="message"] {
  -moz-binding: url("chrome://global/content/consoleBindings.xml#message");
}

.console-msg-text,
.console-error-msg {
  white-space: pre-wrap;
}

.console-error-source {
  -moz-binding: url("chrome://global/content/consoleBindings.xml#console-error-source");
}

.console-dots {
  width: 1px;
}

/* If line number is 0, hide the line number section */
.lineNumberRow[line="0"] {
  display: none;
}